.work-page-container {
    width: 100vw;
    min-height: 100vh;
    /* Allows the container to grow beyond the viewport height */
    overflow-y: auto;
    /* Enables vertical scrolling only when necessary */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Space between the components */
    
}

.tabs-grid-container {
    margin-top: 7%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;

}
.sub-heading {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 70px;
    position: absolute;
    /* Adjusted from 20pc to a fixed pixel value */
    margin-top: 0;
    text-decoration: underline;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.letter.show {
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 768px) {
    .sub-heading {
        font-size: 60px !important;
    }
}

@media (max-width: 480px) {
    .sub-heading {
        font-size: 40px !important;
    }
}